/*-------------------------------Body-------------------------------*/
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #AA3F39;
	margin: 0;
}
img {
	border: 0;
}
#background {
	display: block;
	height: 1440px;
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
}
/*-------------------------------Main design-------------------------------*/
#page {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/** Links sidebar left**/
#navigation li {
	font-size: 19px;
	line-height: 40px;
}
#navigation li a {
	display: block;
	width: 260px;
	text-transform: uppercase;
}
#sidebar {
	float: left;
	height: 100%;
	width: 270px;
	padding-left: 5px;
}
#sidebar ul {
	list-style-type: none;
	margin: 0 0 60px;
	padding: 0px;	
	transform: translate(-135px);
	text-align: left;
	background-color: #7E2320;
	opacity: 0.7;
	border-radius: 5px;
}
#sidebar a {
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
}
.selected{
	box-shadow: inset 0 1px 1px 0 #550400;
	border-radius: 5px;
	color: #550400;
	transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.selected:hover {
	box-shadow: inset 270px 0 0 0 #550400;
	border-radius: 5px;
}
/** Logo **/
#logo {
	color: #fac7c4;
	display: block;
	position: center;
	font-size: 14px;
	width: 550px;
	padding: 159px 25px 0;
	text-align: center;
}

/*-------------------------------Social Media icons-------------------------*/

/*-------------------------------Footer-------------------------------------*/


/*-------------------------------Main page EN-------------------------------*/
/** Contents main block **/
#contents {
	display: block;
	min-height: 1380px;
	width: 690px;
	margin: 0px 0px 0 180px;
	transform: translateY(-1260px);
}
/** Information block with text **/
#info_box {
	display: inline-block;
	background-color: #fac7c4;
	text-align: center;
	width: 750px;
	height: 70px;
	border-radius: 10px;
	margin: 0 inherit;
}
h3{
	font-size: 24px;
	color: #550400;
	text-align: center;
	padding-left: 10px;
	padding-top: -25px;
}
#contents div {
	width: 810px;
	margin: 0 auto;
	padding: 0 0 30px;
}

/** Worksheet samples **/
#contents ul.images { 
	display: inline-block;
	list-style-type: none;
	width: 630px;
	transform: translate(50px,25px);
	padding: 80px;
	margin: 0 auto 75px;
}
#contents ul.images li {
	float: left;
	background-position: 0 0;
	height: 130px;
	width: 130px;
	margin: 13px 5px 13px;
	padding: 7px 7px 17px;
}

/*-------------------------------Worksheets-------------------------*/
/** Information text + topic title**/
#info_block {
	display: inline-block;
	text-align: center;
	width: 750px;
	height: 70px;
	margin: 0 inherit;
}
h2.info_text { /**information text**/
	font-size: 25px;
	text-align: center;
	color: #fac7c4;
	transform: translate(20px,-10px);
}
h1.topic { /**topic title**/
	font-size: 40px;
	transform: translate(8px,20px);
	color: #fac7c4;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px #f7d3d1;
}
#worksheet {
	flex-direction: column;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.worksheet_image {
	transform: translate(105px,80px);
}
.worksheet_image img{
	float:left;
	clear:left;
	border-radius: 3%;
	box-shadow: 6px 8px 10px -5px #550400;
}
#worksheet_text {
	transform: translate(150px,50px);
	letter-spacing: 0.5px;
}
h2.worksheet_title {
   font-size: 30px;
   color: #550400;
   letter-spacing: 1px;
}
p.description_worksheet{
	font-size: 20px;
	color: #fac7c4;
	line-height: 33px;
}
/** Button **/
.download_button { /** Button div **/
	transform: translate(645px,-240px);
}
#download_button1 {
	float:left;
	width:60%;
	font-size: 130%;
	box-shadow: 5px 8px 10px -5px #550400;
}
/** Dividers **/
.hr1{
	border: 0;
	width: 180%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, #fac7c4, transparent);
	transform: translate(10px,350px);
}



