/*----------------------------------- All elements ---------------------------------*/
*, *::before, *::after {
    box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/*------------------------------- Global properties --------------------------------*/
:root {
    font-size: 20px;    
    line-height: 1.5;   
	--red-background:hsl(3, 50%, 45%);		 	/** color variables **/
	--dark-red-hover:hsl(3, 100%, 17%);
	--red-sidebar:hsl(2, 59%, 31%);
	--white-links:hsl(0, 0%, 100%);
	--light-red-text:hsl(2, 81%, 87%);
}
html {
	min-height: 100%;  
} 
.wrapper {
	position: relative; 						 /** important for footer: **/
	min-height: 100vh;
}
body {	
	margin: 0;				
	background-color: var(--red-background);     /** fonts, colors **/
	font-family: Arial, Helvetica, sans-serif;
	color: var(--light-red-text);
}
/*---------------------------------- Grid Wrapper ---------------------------------*/
.wrapper {
	display: grid;  
	grid:  									 	 /** grid page structure **/
	'header header header header header header' 
	'sidebar main main main main main '
	'footer footer footer footer footer footer';
	justify-items: center;
}

header {grid-area: header;}  					/** grid variables **/
nav    {grid-area: sidebar;} 
main   {grid-area: main;}
footer {grid-area: footer;}
/*------------------------------- Attributes: body>page --------------------------*/
.wrapper, footer {
	max-width: 75%;  							/** creates space between the left edge and the sidebar **/
	margin: 0 auto;
}
[title=main_logo]{ 								/** responsive logo**/
	width: max(80vw, 1024px);					/** logo size remains **/
}
/*-------------------------------------- Sidebar ---------------------------------*/
nav {
	display: flex; 							  /** Nav Flexbox*/
	flex-flow: column wrap;                     /** flex-direction | wrap **/
	justify-content: center; 
	align-items: center;
	width: 12em;
	height: 48em;                               /** sidebar doesn't fall back while zooming **/
	max-width: 100%;                            /** fitting the edges **/
	max-height: 100%;							/** fitting the edges **/
	z-index: 100;     							/** sidebar always in the foreground**/
}
nav ul { 										/** sidebar block **/
	margin: 0;   								/** no visible margin **/
	padding: 0; 								/** no visible padding **/
	list-style-type: none;						/** no list style for the links **/
	transform: translate(-5em);				    /** X-axis**/
	text-align: left;							/** text placed on the left side**/
	background-color: var(--red-sidebar); 
	opacity: 0.7;								/** change opacity color - not intense**/
	overflow: visible;
}
nav li a { 										/** sidebar links**/
	font-size: 1rem; 							/** =20px as in :root**/
	line-height: 2rem;							/** more line height**/
	text-transform: uppercase;					/** links have upercase letters**/
	color: var(--white-links);					/** links color**/
	text-decoration: none;						/** no text decoration**/
	padding: 0.5em;
}
/*--------------------------------- Sidebar hover ---------------------------*/
.selected { 														/** box shadow on the links boxes**/
	box-shadow: inset 0 1px 1px 0 var(--dark-red-hover);
	transition: color .4s ease-in-out, box-shadow .4s ease-in-out;	/** color tranisition for the hover effect**/
}
.selected:hover {  													/** onclick hover effect**/
	box-shadow: inset 315px 0 0 0 var(--dark-red-hover);
}
nav a:hover {
	color: var(--white-links); 										/** links color**/
	text-decoration: none; 											/** no text decoration**/
}
.selected:hover, .selected, nav ul { 						        /** border-radius links + hover **/
	border-radius: 5px;
}
/*----------------------------------- Responsive Sidebar --------------------*/
																	/** tablet/mobile AB 768px**/
													
/*---------------------------------- Footer ---------------------------------*/
footer{
	position:relative;                           
	width:100%;
	bottom: 0;									 /** footer at the bottom, no space between body **/
	height: 2.5em;  
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: var(--light-red-text);
	font-weight: lighter;
}
/*-------------------------------- Social Media icons -----------------------*/

/*----------------------------------  PAGES  --------------------------------*/
/*---------------------------------- MAIN PAGE ------------------------------*/
main {
	width: 40em;    							 /** fits for Laptops 1024px well **/
	height: auto;  
	max-width: 100%;
	max-height: 100%;
	margin-left: -6em;    						 /** space between the sidebar **/
}
.content_wrapper {       						 /** content wrapper: map + worksheets **/
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 45em;
	height: 50em;        
	max-width: 100%;
	max-height: 100%;
}
/*---------------------------------- Hero Image -----------------------------*/
.hero_image {
	display: flex;      					   /** hero image: map **/
	flex-flow: row nowrap;               		 /** hero image: nowrap **/
	justify-content:flex-end;
	text-align: right;   						 /** text right on the map **/
	height: 170vh;        						 /** hero image: > 100vh: text goes with the map **/
	background-image: url("https://res.cloudinary.com/dskvgobc1/image/upload/v1653236707/russiantopics/background_d0vcep.png");
	/** background image: map **/
	background-repeat: no-repeat;   	
	background-size:contain;   					 /** map fits the container **/
	color:var(--light-red-text);
} 
/*---------------------------------- Hero Text -----------------------------*/
.hero_text {    								 /** text on the map **/
	position: absolute;
	transform: translate(-9.5em,12em);           /** position of the text container **/
}
.hero_text h1 {
	font-size: 1.8em;
}
.hero_image h2 { 							      /** h2: more space between the letters **/
	letter-spacing: 0.1em;	
	transform: translate(-0.5em,14em);
}
.hero_text p {
	font-size: 0.9em;
	text-align: right;
	font-weight:200;
}
/*------------------------------- WORKSHEETS ---------------------------------*/
.content_wrapper_worksheets {    				 /** position of the text container **/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;              	     	 /** content wraps, image fits the lightbox **/
}
.hero_text_worksheet h1{    					 /** worksheet topic h1 **/
	font-size: 2.5em;
	margin-left: 0.8em;
}
.name_worksheet { 								 /** worksheet title h2 **/
	font-size: 1.7em;
	margin-left: 1em;
}
.description_worksheet {    					 /** worksheet description: container **/
	margin-left: 4em;
	margin-bottom: 4.5em;
}
.description_worksheet p {   					 /** worksheet description: text**/
	margin-top: 1em;
}
.description_worksheet ol {     				 /** worksheet description: ordered list **/
	list-style-type: disc;
}
.carousel-inner {    							 /** lightbox container: border + shadow **/
	border-radius: 0.4em;
	box-shadow: 0px 5px 10px var(--red-sidebar);
}
.carousel-indicators, .carousel-inner {          /** position: inidicators + worksheet image **/
	margin-top: 4.5em;
}
.content_wrapper_worksheets .btn{      		 /** download button **/
	background-color: var(--light-red-text);   
	border-color: var(--light-red-text);
	color: var(--red-sidebar);
	font-weight: bolder;
	transform: translate(5em,-6em);
}
.content_wrapper_worksheets .btn:hover{
	background-color: var(--red-sidebar);
	border-color: var(--red-sidebar);
	color: var(--white-links);
}

/** Dividers **/
.hr1{          							
	border: 0;
	width: 180%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, var(--light-red-text), transparent);
	margin-top: -2em;
}



