/*----------------------------------- All elements ---------------------------------*/
*, *::before, *::after {
    box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/*------------------------------- Global properties --------------------------------*/
:root {
    font-size: 20px;    
    line-height: 1.5;   
	--red-background:hsl(3, 50%, 45%);		 	/** color variables **/
	--dark-red-hover:hsl(3, 100%, 17%);
	--red-sidebar:hsl(2, 59%, 31%);
	--white-links:hsl(0, 0%, 100%);
	--light-red-text:hsl(2, 81%, 87%);
}
html {
	min-height: 100%;  
} 
.wrapper {
	position: relative; 						 /** important for footer: **/
	min-height: 100vh;
}
body {	
	margin: 0;				
	background-color: var(--red-background);  
	font-family: Arial, Helvetica, sans-serif;
	color: var(--light-red-text);
}
/*---------------------------------- Grid Wrapper ---------------------------------*/
header {grid-area: header;}  					/** grid variables **/
nav    {grid-area: sidebar;} 
main   {grid-area: main;}
footer {grid-area: footer;}

.wrapper {
	display: grid;  
	grid:  										/** grid page structure **/
	'header header header header header header' 
	'sidebar main main main main main '
	'footer footer footer footer footer footer';
	justify-items: center;
}
/*------------------------------- Attributes: body>page --------------------------*/
.wrapper, footer {
	max-width: 75%;  							/** creates space between the left edge and the sidebar **/
	margin: 0 auto;
}
[title=main_logo]{ 								/**responsive logo**/
	width: max(80vw, 1024px);					/** UMSCHREIBEN logo remains depends on viewport**/
}
/*-------------------------------------- Sidebar ---------------------------------*/
nav {
	display: flex; /**Nav Flexbox*/
	flex-flow: column wrap;                     /** flex-direction | wrap **/
	justify-content: center;
	align-items: center;
	width: 12em;
	height: 48em;                               /** sidebar doesn't fal back while zooming **/
	max-width: 100%;                            /** fitting the edges **/
	max-height: 100%;							/** fitting the edges **/
	z-index: 100;     							/** **/
}
nav ul { 										/** sidebar block **/
	margin: 0;   								/**no visible margin **/
	padding: 0; 								/** no visible padding **/
	list-style-type: none;						/** no list style for the links **/
	transform: translate(-5em);				    /**move on the X-axis**/
	text-align: left;							/**text placed on the left side**/
	background-color: var(--red-sidebar); 
	opacity: 0.7;								/**change opacity color - not intense**/
	overflow: visible;
}
nav li a { 										/**sidebar links**/
	font-size: 1rem; 							/**=20px as in :root**/
	line-height: 2rem;							/**more line height**/
	text-transform: uppercase;					/**links have upercase letters**/
	color: var(--white-links);					/**links color**/
	text-decoration: none;						/**no text decoration**/
	padding: 0.5em;
}
/*--------------------------------- Sidebar hover ---------------------------*/
.selected { 														/**box shadow on the links boxes**/
	box-shadow: inset 0 1px 1px 0 var(--dark-red-hover);
	transition: color .4s ease-in-out, box-shadow .4s ease-in-out;	/**color tranisition for the hover effect**/
}
.selected:hover {  													/**onclick hover effect**/
	box-shadow: inset 315px 0 0 0 var(--dark-red-hover);
}
nav a:hover {
	color: var(--white-links); 										/**links color**/
	text-decoration: none; 											/**no text decoration**/
}
.selected:hover,.selected,nav ul { 									/** border-radius links + hover **/
	border-radius: 5px;
}
/*----------------------------------- Responsive Sidebar --------------------*/
																	/**tablet/mobile AB 768px**/
													
/*---------------------------------- Hero Image -----------------------------*/
main {
	width: 40em;    												/** fits for Laptops 1024px well **/
	height: auto;   /**?**/
	max-width: 100%;
	max-height: 100%;
	margin-left: -6em;
}
.hero_image {
	display: flex;
	flex-flow: row wrap;
	justify-content:flex-end;
	text-align: right;
	height: 100vh;
	background-image: url("https://res.cloudinary.com/dskvgobc1/image/upload/v1653234503/russiantopics/background_b3hfg5.png");
	background-repeat: no-repeat;
	background-size:contain;
	color:var(--light-red-text);
} 
.hero_text {
	position: absolute;
	transform: translate(-9.5em,12em);
}
.hero_text h1 {
	font-size: 1.8em;
}
.hero_text p {
	font-size: 0.9em;
	text-align: right;
	font-weight:200;
}
/*------------------------------- Main page EN------------------------------*/
.content_wrapper {
	display: flex;
	justify-content: center;
	width: 45em;
	height: 30em;        
	max-width: 100%;
	max-height: 100%;
	/**background-color:blueviolet;**/
}
.content_wrapper h2 {
	letter-spacing: 0.1em;
}
/*------------------------------- Footer -------------------------------------*/
footer{
	position:relative;
	width:100%;
	bottom: 0;														/** footer at the bottom **/
	height: 2.5em;  
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: var(--light-red-text);
	font-weight: lighter;
}
/*------------------------------- Social Media icons -------------------------*/

/**--------------------------- WORKSHEETS ---------------------------**/
#logo { /** Logo **/
	color: var(--light-red-text);
	display: block;
	font-size: 14px;
	width: 550px;
	padding: 159px 25px 0;
	text-align: center;
}
#contents ul.images { 
	display: inline-block;
	list-style-type: none;
	width: 630px;
	transform: translate(50px,25px);
	padding: 80px;
	margin: 0 auto 75px;
}
#contents ul.images li {
	float: left;
	background-position: 0 0;
	height: 130px;
	width: 130px;
	margin: 13px 5px 13px;
	padding: 7px 7px 17px;
}

/**---------------------------- Worksheets ----------------------------**/
/** Information text + topic title**/
#info_block {
	display: inline-block;
	text-align: center;
	width: 750px;
	height: 70px;
	margin: 0;
}
h2.info_text { /**information text**/
	font-size: 25px;
	text-align: center;
	color: var(--light-red-text);
	transform: translate(20px,-10px);
}
h1.topic { /**topic title**/
	font-size: 40px;
	transform: translate(8px,20px);
	color: var(--light-red-text);
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px var(--light-red-text);
}
#worksheet {
	flex-direction: column;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.worksheet_image {
	transform: translate(105px,80px);
}
.worksheet_image img{
	float:left;
	clear:left;
	border-radius: 3%;
	box-shadow: 6px 8px 10px -5px var(--dark-red-hover);
}
#worksheet_text {
	transform: translate(150px,50px);
	letter-spacing: 0.5px;
}
h2.worksheet_title {
   font-size: 30px;
   color: var(--dark-red-hover);
   letter-spacing: 1px;
}
p.description_worksheet{
	font-size: 20px;
	color: var(--light-red-text);
	line-height: 33px;
}
/** Button **/
.download_button { /** Button div **/
	transform: translate(645px,-240px);
}
#download_button1 {
	float:left;
	width:60%;
	font-size: 130%;
	box-shadow: 5px 8px 10px -5px var(--dark-red-hover);
}
/** Dividers **/
.hr1{
	border: 0;
	width: 180%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, var(--light-red-text), transparent);
	transform: translate(10px,350px);
}



